@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-color: #f7EFD8;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #8DC848;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #333128;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #8DC848;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt span {
    font-size: 16px;
    color: #8DC848;
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #333128;
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    color: #181713;
    margin-bottom: 45px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #8DC848;
    text-transform: capitalize;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 400px;
}

.information {
    width: 70%;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    padding: 25px 75px;
    margin-top: -75px;
    background-color: #FFFFFF;
}

.information-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.information-1 img {
    width: 35px;
}

h3 {
    font-size: 17px;
    color: #181713;
    text-transform: capitalize;
}

.information-1 p {
    margin-bottom: 0;
}

.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    text-align: center;
    flex-basis: calc(25% - 20%);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    padding: 35px;
}

.ofert-1 img {
    width: 140px;
    margin-bottom: 10px;
}

.ofert-1 p {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: #8DC848;
}